<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Select a swatch</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" *ngIf="palette">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm="4"  *ngFor="let swatch of swatches">
        <ion-card>
          <div class="swatch" [style.background-color]="swatch?.hex" (click)="select(swatch)"></div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
