<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button color="primary" fill="outline" (click)="getPhoto()">
        Add Color
        <ion-icon slot="end" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Create a Palette
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2" *ngFor="let color of colors">
        <app-palette 
          [color]="color" 
          (saveColorEvent)="saveColor($event)" 
          (deleteColorEvent)="deleteColor($event)" 
          (copyHexEvent)="copyHex($event)" 
          (copyRGBEvent)="copyRGB($event)" 
          (copyHSLEvent)="copyHSL($event)">
        </app-palette>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
